


.theme-container.custom-homepage-class {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  .hero img {
    max-height: 4em;
  }

  #main-title {
    font-size 2em;
  }

  p.description {
    font-size 1em;
  }
}

button.theme-code-group__nav-tab {
  padding-right: 1em !important;
  padding-left: 1em !important;
}
